@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

.header{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: var(--space-layout-padding-lr);
    align-items: center;
}

.main {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}
.main__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: var(--space-layout-padding-t);
    margin-top: 15px;
}


.main__section + hr{
    margin-top: 10px;
    box-shadow: -1px 0 2px var(--color-3);
    height: 1px;
    border-style: none;
}

.main_img {
    display: flex;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;

}

.main_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.circles{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.circle{
    margin: 1px;
    width: 4px;
    height: 4px;
    background: var(--color-4);
    border-radius: 100%;
}

.quantify{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 85px;
    height: 28px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--color-4);
}

.main__article {
}



.second__main_section{
    padding: var(--space-layout-padding-lr);
    margin: var(--space-layout-padding-t);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.second__main_section + hr{
    margin-top: 10px;
    box-shadow: -1px 0 2px var(--color-3);
    height: 1px;
    border-style: none;
}


.main__pay {
    display: flex;
    width: 350px;
    height: 62px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-3);
    border-radius: 12px;
    margin: var(--space-layout-padding-t);
}

.article__cost {
    display: flex;
    justify-content: space-between;
    margin: var(--space-layout-padding-t);
    margin-top: 20px;
}


.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: var(--space-layout-padding-lr);
}
.footer__ul {
    background: var(--color-4);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
}

.footer__ul li{
    list-style: none;
    display: flex;
}

.footer__ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    gap: 5px;
    color: var(--color-5);
}

.footer__ul a li img{
    width: 25px;
}