@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

header{
    display: flex;
    font-family: "EncodeSans-SemiBold";
    justify-content: space-between;
    margin: 20px;
    align-items: center;

} 

.main {
    /* background: red; */
    padding: var(--space-layout-padding-t);
}
.checkout__details {
    /* background: blue; */
    /* padding-top: var(--space-layout-padding-lr);  */
    height: 335px;
    overflow-y: scroll;
}
.details__product {
    /* background: green; */
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details__product  + hr{
    margin-top: 10px;
    box-shadow: 0px 1px 2px var(--color-3);
    height: 1px;
    border-style: none;
    margin-bottom: 20px;
}

.product_image {
    /* background: maroon; */
    width: var(--layout-imagen-width-checkout);
    height: var(--layout-imagen-height-checkout);
}

.product_image img{
    width: var(--layout-image-width-checkout);
    height: var(--layout-image-height-checkout);
    border-radius: 15px;
    object-fit: cover;
    object-position: 0 0px;

}

.product__description {
    position: relative;
    /* background: violet; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product__description h3{
    font-size: 1rem;
    font-family: "EncodeSans-SemiBold";
}

.product__description small{
    margin-top: 5px;
    color: var(--color-3);
}

.product__description span{
    font-family: "EncodeSans-SemiBold";
    position: absolute;
    bottom: 0;
    font-size: .9rem;
}

.product__custom {
    /* background: salmon; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__custom > img{
    /* background: red; */
    width: 22px;
    align-self: flex-end;
    object-fit: cover;
}

.product__select {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-4);
    color: var(--color-5);
    width: 90px;
    height: 28px;
    border-radius: 5px;
}

.product__select img{
    width: 20px;
    height: 20px;
}