@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}


.main{
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: var(--space-layout-padding-t);
}
.main__section {
    width: 100%;
    /* background: green; */
}
.article__product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.product__image {
    /* background: blue; */
    width: var(--layout-img-wigth-detail);
    height: var(--layout-img-height-detail);
    border-radius: 20px;
    overflow: hidden;
}

.product__image img{
    width: var(--layout-img-wigth-detail);
    height: var(--layout-img-height-detail);
    object-fit: cover;
}
.product__menu {
    /* background: violet; */
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 0 15px;
}
