<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <script type="module" src="../js/Checkout.js"></script>
</head>
<body>
    
    
    <header>
        <a href="../index.html">
            <img src="../storage/img/back.svg">
        </a>
        <h3>Checkout</h3>
        <img src="../storage/img/sidebar.svg">
    </header>
    <main class="main">
        <section id ="main__section__checkout" class="checkout__details">
            <!-- <article class="details__product">
                <div class="product_image">
                    <img src="../storage/img/blush.png">
                </div>
                <div class="product__description">
                    <h3>Liquid Blush</h3>
                    <small>No.Hope</small>
                    <span>$92.300</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article> -->
            <hr>
            
            <hr>  
        </section>
        <section></section>
    </main>


    
    <section>
       <!-- <article class="shopping__title">
            <h3>Shipping Information</h3>
       </article>

       <article class="section__card">
        <div class="dropdown">
            <div class="dropdownbutton">
                <div  class="shoppingcard">
                    <img src="../storage/img/visa.svg">
                    <label>**** **** **** 2143</label>
                </div>
            
                <div class="shopping__option">
                    <img src="../storage/img/arrow-down.svg" alt="">
                </div>

                <div class="dropdowncontent">
                    <div  class="shoppingcard">
                        <img src="storage/img/visa.svg">
                        <label>**** **** **** 2143</label>
                    </div>

                    <div  class="shoppingcard">
                        <img src="../storage/img/visa.svg">
                        <label>**** **** **** 2143</label>
                    </div>

                    <div  class="shoppingcard">
                        <img src="../storage/img/visa.svg">
                        <label>**** **** **** 2143</label>
                    </div>
                </div>
            </div>
       </article> -->

       <article id = "section_bill" class="section__bill">
            
            <!-- <div class="bill__total">
                <label>Total(9 items)</label>
                <span>272.800</span>
            </div>
            <div class="bill__fee">
                <label>Shipping Fee</label>
                <span>0.00</span>
            </div>
            <div class="bill__subtotal">
                <label>Sub Total</label>
                <span>272.800</span>
            </div> -->
            
       </article>
    </section>
</main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a>
                    <span>Pay</span>
                </a>
            </li>
        </ul>

    </footer>


</body>
</html>
