<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    
    <header class="header">
        <a href="./detail.html">
        <img src="../storage/img/back.svg" >
        </a>
        <strong>Checkout</strong>
        <img src="../storage/img/sidebar.svg">
    </header>
    <main class="main">
        <section class="main__section">
            <div class="main_img">
                <img src="../storage/img/img3.png">
            </div>
            <article class="main__article">
                <strong>Modern light clothes</strong>
                <p>Dress modern</p><br>
                <strong>$212.99</strong>
            </article>
            <article class="main__article">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div><br><br>
                <div class="quantify">
                    <img src="../storage/img/minusAlone.svg">
                    4
                    <img src="../storage/img/plusAlone.svg">
                </div>
            </article>
        </section>
        <hr>
        <section class="main__section">
            <div class="main_img">
                <img src="../storage/img/img1.png">
            </div>
            <article class="main__article">
                <strong>Modern light clothes</strong>
                <p>Dress modern</p><br>
                <strong>$212.99</strong>
            </article>
            <article class="main__article">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div><br><br>
                <div class="quantify">
                    <img src="../storage/img/minusAlone.svg">
                    1
                    <img src="../storage/img/plusAlone.svg">
                </div>
            </article>
        </section>
        <hr>
        <section class="main__section">
            <div class="main_img">
                <img src="../storage/img/img2.png">
            </div>
            <article class="main__article">
                <strong>Modern light clothes</strong>
                <p>Dress modern</p><br>
                <strong>$212.99</strong>
            </article>
            <article class="main__article">
                <div class="circles">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div><br><br>
                <div class="quantify">
                    <img src="../storage/img/minusAlone.svg">
                    4
                    <img src="../storage/img/plusAlone.svg">
                </div>
            </article>
        </section>
        <section class="second__main_section">
            <strong>Shipping Iformation</strong><br>
            <div class="main__pay">
                <img src="../storage/img/visa.svg">
                **** ***** ***** 2143
                <img src="../storage/img/arrow-down.svg">
            </div>
            <article class="article__cost">
                <p>Total (9items)</p>
                <strong>$131.97</strong>
            </article>
            <article class="article__cost">
                <p>Shipping Fee</p>
                <strong>$.0.000</strong>
            </article>
            <br><hr>
            <article class="article__cost">
                <p>Sub Total <p>
                <strong>$131.97</strong>
            </article>
        </section>
    </main>
    <footer>
        <footer class="footer"> 
            <ul class="footer__ul">
                <li>
                    <a href="#">
                        <span>Pay</span>
                    </a>
                </li>
            </ul>
        </footer>
    </footer>

</body>
</html>