<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    
    <main class="main">
        <section class="main__section">
            <article class="article__product">
                <div class="product__image">
                    <img src="/storage/img/img1.png">
                </div>
                <div class="product__menu">
                    <img src="/storage/img/back.svg">
                    <img src="/storage/img/heart.svg">
                </div>
            </article>
        </section>
    </main>

</body>
</html>